<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Отдых на море, туры, горящие путевки, морские круизы. Туризм, путешествия, низкие цены — туристическое агентство «ВсеСвит»">
        <meta name="keywords" content="Всесвит агентство,Киев,Украина">
        <meta property="og:description" content="Отдых на море, туры, горящие путевки, морские круизы. Туризм, путешествия, низкие цены — туристическое агентство «ВсеСвит»">
        <meta name="robots" content="index, follow"> 
        <link rel="icon" href="../../favicon.ico">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/site.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div class="container-fluid vs-head">
            <div class="container">
                <div class="row vs-head-bg">
                    <div class="col-md-12">
                        <nav class="navbar">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="{{ path('homepage') }}"><img class="logo" src="/images/subdomains_logo_1_8.gif" /></a>
                            </div>
                            <div class="vs-head-green-line">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="/admin">Админка</a>    
                                {% endif %}
                                <a href="/profile">Профиль</a>
                                <a href="{{ path('fos_user_security_logout') }}">Выйти</a>
                                {% else %}
                                <a href="{{ path('fos_user_security_login') }}">Авторизация</a>
                                <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                                {% endif %}
                            </div>
                            <div id="navbar" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                                    <li><a href="{{ path('visas') }}">Visas</a></li>
                                    <li><a href="{{ path('contacts') }}">Contact</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </nav>
                    </div>

{#                     <div class="col-md-8 contacts-row">
                        03045, г. Киев, ул. Плещеева 10Д, т/ф (044)230-31-30, (044)290-84-88,     
                        <a href="mailto:turagenciavsesvit@mail.ru">turagenciavsesvit@mail.ru</a>
                    </div>     #}            
                </div>
            </div>
            <div class="container vs-second-navbar">
                <nav class="navbar">
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('countries_list') }}">Countries</a></li>
                            <li><a href="{{ path('rubrics') }}">Rubrics</a></li>
                            <li><a href="{{ path('cruises') }}">Cruises</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="breadcrumbs">
                {{ wo_render_breadcrumbs() }}
            </div>
            <div class="row">
                <div class="col-md-9">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-md-3">
                    {% block menu %}
                        {% include 'menu.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        </div><!-- /.container -->

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/vsesvit.js') }}"></script>
            <script src="{{ asset('js/bower_components/socket.io-client/socket.io.js') }}"></script>
        {% endblock %}
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-9 col-md-3 vs-info-block">
                        лицензия №330 от 26.02.2016<br />
                        т/ф: (044) 230-31-30, (044) 290-84-88<br />
                        <a href="mailto:turagenciavsesvit@mail.ru">turagenciavsesvit@mail.ru</a><br />
                        Турагентство ВсеСвит
                    </div>
                </div>
            </div>
            <div class="row vs-footer-line">
                Copyright © 2007-2016. Все права защищены.
            </div>
        </div>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_SUPER_ADMIN') %}
            <script src="{{ asset('js/olchatadmin.js') }}"></script>
            {{ render (controller("AppBundle:Base:getDmChatAdmin")) }}
        {% else %}
            <script src="{{ asset('js/olchat.js') }}"></script>
            {{ render (controller("AppBundle:Base:getDmChat")) }}
        {% endif %}

    </body>
</html>
