<div id="cf-form_sended" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Уведомление</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div id="vs-ask_form" class="row-fluid vs-contact_form">
	{{ form_start(form) }}
		<div class="form-group">
    		{{ form_label(form.userEmail) }}
    		{{ form_errors(form.userEmail) }}
    		{{ form_widget(form.userEmail) }}
		</div>

		<div class="form-group">
    		{{ form_label(form.content) }}
    		{{ form_errors(form.content) }}
    		{{ form_widget(form.content) }}
		</div>

		<div class="row-fluid form-group captcha-block">
			{{ form_widget(form.captcha) }}
		</div>

		<div class="text-center">
			{{ form_row(form.save) }}
		</div>

		{{ form_row(form._token) }}

	{{ form_end(form) }}
</div>